VITE_SUPABASE_URL=https://seu-projeto.supabase.co
VITE_SUPABASE_ANON_KEY=sua-chave-anon

VITE_URL_PAINEL=https://painel.luniqfinancas.com
VITE_URL_FINANCAS=https://financas.luniqfinancas.com
VITE_URL_ADMISSAO=https://admissao.luniqfinancas.com
VITE_URL_AULAS=https://aulas.luniqfinancas.com
VITE_URL_BRAND=https://brand.luniqfinancas.com
